body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body h2 {
	margin: 0px 30px;
}

header {
	width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

header h1 {
	text-align: center;
	display: inline-block;
}

header h1:hover {
	cursor: pointer;
}

.tabs {
  display: flex;
}

.tab-link {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f2f2f2;
  margin-right: 5px;
}

.tab-link:last-child {
  margin-right: 0;
}

.tab-link.active {
  background-color: white;
  border-bottom: 1px solid white;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
}

.tab-content.active {
  display: block;
}

.home {
    text-align: center;
    padding: 2rem;
}

.projects {
    padding: 2rem;
}

.project-card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.project-card h3 {
    margin-top: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.tags span {
    background-color: #007bff;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.expertise {
    margin: 0 auto;
    padding: 20px;
}

.expertise-cards {
    display: flex;
    flex-wrap: wrap;
}

.expertise-card {
    flex: 1;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.expertise-list {
    padding: 0;
    margin: 0;
}

.expertise-list li {
    list-style-type: none;
    margin-bottom: 5px;
}

/* Media Queries for Responsive Layout */

/* For screens up to 768px */
@media screen and (max-width: 768px) {
    .expertise-card {
        flex-basis: 100%;
    }
}

/* For screens between 768px and 1200px */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .expertise-card {
        flex-basis: 50%;
    }
}

/* For screens above 1200px */
@media screen and (min-width: 1201px) {
    .expertise-card {
        flex-basis: 30%;
    }
}

/* Add additional styling as needed */
